{
  "Version": "2012-10-17",
  "Statement": [{
      "Action": [
        "logs:CreateLogGroup",
        "logs:CreateLogStream",
        "logs:ListTagsLogGroup",
        "logs:PutLogEvents"
      ],
      "Effect": "Allow",
      "Resource": [
        "arn:aws:logs:*:*:log-group:/aws/lambda/datadog-*",
        "arn:aws:logs:*:*:log-group:/aws/lambda/datadog-*:*"
      ],
      "Sid": "CloudWatchLogsAccess"
    },%{ if vpc_check }
    {
      "Action": [
        "ec2:CreateNetworkInterface",
        "ec2:DescribeNetworkInterfaces",
        "ec2:DeleteNetworkInterface"
      ],
      "Effect": "Allow",
      "Resource": "*",
      "Condition": {
        "StringLike": {
          "aws:RequestedRegion": "*"
        }
      },
      "Sid": "VPCNetworkAccess"
    },%{ endif }%{ if s3_check }
    {
      "Action": "s3:GetObject",
      "Effect": "Allow",
      "Resource": ${s3_log_bucket_arns},
      "Sid": "ReadS3Logs"
    },%{ endif }
    {
      "Action": "kms:Decrypt",
      "Effect": "Allow",
      "Resource": "*",
      "Condition": {
        "StringEquals": {
          "kms:ViaService": [
            "s3.*.amazonaws.com",
            "secretsmanager.*.amazonaws.com"
          ]
        }
      },
      "Sid": "KmsDecryptRestricted"
    }
  ]
}
