{
  "Version": "2012-10-17",
  "Statement": [{
      "Action": [
        "logs:CreateLogGroup",
        "logs:CreateLogStream",
        "logs:ListTagsLogGroup",
        "logs:PutLogEvents"%{ if vpc_check },
        "ec2:CreateNetworkInterface",
        "ec2:DescribeNetworkInterfaces",
        "ec2:DeleteNetworkInterface"%{ endif }
      ],
      "Effect": "Allow",
      "Resource": "*",
      "Sid": "WriteLogs"
    },
    {
      "Action": [
        "kms:Decrypt"
      ],
      "Effect": "Allow",
      "Resource": "*",
      "Condition": {
        "StringLike": {
          "kms:ViaService": [
            "lambda.*.amazonaws.com",
            "secretsmanager.*.amazonaws.com"%{ if datadog_s3_bucket != "" },
            "s3.*.amazonaws.com"%{ endif }
          ]%{ if datadog_s3_bucket != "" },
          "kms:EncryptionContext:aws:s3:arn": [
            "${datadog_s3_bucket}/*"
          ]%{ endif }
        }
      },
      "Sid": "KmsDecrypt"
    }%{ if dd_api_key_secret_arn != "" },
    {
      "Action": "secretsmanager:GetSecretValue",
      "Effect": "Allow",
      "Resource": "${dd_api_key_secret_arn}",
      "Sid": "GetApiKeySecret"
    }%{ endif }
  ]
}
